
header {
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top; 
    z-index: -1;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;

    
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
    
   
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    
}
/* section banner*/
.b-content {
    text-align: center;
    padding-top: 225px;      
}

.b-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110px;
    font-weight: bold;    
    text-align: center;
    color: #ffffff;
    margin: -60px 0 0 -25px;

}

.categories {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.categories li {
    margin: 0px 40px;       
    display: inline-block;  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
        
}

.register{
    width:162px;
    height: 44px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border-radius: 22px;
    box-shadow: 0px 0px 20px 3px #494949;
    cursor: pointer;
    font-weight: bold;
}


/* learn the pros*/
.learn{
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn h4{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 140px;
    font-size: 32px;
    font-weight: 300;
    color:#ffffff;
}
.learn h4 span {
    color: #C271FF;
    font-weight: bold;
}

/* student content*/
.student-container {
    width: 80%;
    margin: 100px auto;
    padding-bottom: 100px;
}
.student {
    width: 23%;
    display: inline-block;
    color: #ffffff;
    text-align: center;

}
.student>img {
    display: block;
    margin: 0 auto;
}
.student>h3{
    font-size: 18px;
    height: 27px;
}
.student>p {
    font-style: italic;
    font-size: 15px;
}

/* start testimonial part*/
.testimonial {
    width: 100%;
    height: 392px;
    overflow: hidden;
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px
}

.testimonal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 943px;
    color: #FFFFFF;
}

.testimonal_container img {
    width: 200px;
    padding-right: 53px;
}

.content-testimonial blockquote {
    font-size: 22px;
    line-height: 33.6px;
    font-weight: 300;
}

.content-testimonial .name {
    font-size: 22px;
    font-weight: bold;
    margin: 50px 0 20px 37px;
    line-height: 3px;
}

.content-testimonial p {
    font-size: 22px;
    font-weight: 200;
    margin: 20px 0 20px 37px;
}


.membership {
    width: 100%;
    height: 502px;
    background-color: rgba(7, 22, 41, 1);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.membership h1 {
    font-weight: 300;
    font-size: 32px;
    margin-top: 60px;
}

.membership h1 span {
    color: #C271FF;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.smiles {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.item_smile {
    width: 257px;
    height: 153px;
}

.item_smile img {
    margin-bottom: 20px;
    width: 43.67px;
    height: 35.35px;
}

.item_smile h2 {
    font-size: 18px;
}

.item_smile p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.7;
}

.membership button {
    width: 162px;
    height: 44px;
    color: #FFFFFF;
    background-color: #C271FF;
    border-radius: 22px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    margin-top: -10px;
}
/*  faq */

.faq {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
}

/* the main FAQ layout */
.faq-grid {
    width: 920px;
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* each column */
.faq-column {
    display: flex;
    flex-direction: column;
}

/* each FAQ item */
.faq-item {
    margin: 80px 100px;
    width: 350px;
    height: 242px;
}

.faq-item h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(7, 22, 41, 0.5016);
}