header {
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* or contain */
    filter: grayscale(100%);
    z-index: -1; /* keeps it behind header content */
}


nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
      

}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-family:'Source Sans Pro', sans-serif;

}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
.hero-container {
    position: absolute;
    top: 290px;            /* vertical position */
    left: 50%;             /* horizontal center */
    transform: translateX(-50%);
    width: 800px;
    height: 151px;
    display: flex;
    align-items: center;   /* vertical alignment */
    justify-content: center;
}

.hero-container h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;      /* bold as Figma */
    font-size: 102px;
    line-height: 1;        /* 100% */
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    margin: 0;

}



