header {
    background-image: url("../images/Header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    

}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
    
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
.title {
position: absolute;
top: 220px; /* vertical position */
left: 50%;  /* horizontal reference */
transform: translateX(-50%); /* move back half its width */
width: 684px;
height: 151px;
font-weight: 700;  
font-family:'Source Sans Pro', sans-serif;
font-size: 50px;
line-height: 100%;
text-align: center;
color: #ffffff;
opacity: 1;

}

