
header {
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1; 
    width: 1440px;
    height: 1093px;
}

nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
   
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    
}
/* section banner*/
.b-content {
    text-align: center;
    padding-top: 250px;      
}

.b-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120px;
    font-weight: 700;    
    text-align: center;
    color: #ffffff;
    margin: -70px 0 0 -10px;

}
.b-content ul{
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 80px;
    
}
.b-content button{
    width: 162px;
    height: 44px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    border-radius: 22px;
    
    box-shadow: 0px 0px 20px 3px #494949;
}
/* learn the pros*/
.learn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn h4{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 140px;
    font-size: 32px;
    font-weight: 300;
    color:#ffffff;
}
.learn h4 span {
    color: #C271FF;
    font-weight: 700;
}




/*  faq */

.faq {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
}

.faq-grid {
    width: 920px;
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-column {
    display: flex;
    flex-direction: column;
}

.faq-item {
    margin: 80px 100px;
    width: 350px;
    height: 242px;
}

.faq-item h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(7, 22, 41, 0.5016);
}
